# Project exclude paths
/project/project/target/
/project/target/
/target/
/target/bg-jobs/
/target/global-logging/
/target/protobuf_external/
/target/scala-2.12/classes/
/target/scala-2.12/test-classes/
/target/streams/